<main>
  <div>
    <h1>New Password</h1>
    <form action="/new-password" method="POST">

      <label for="password">Password</label>
      <input type="password" name="password"/>

      <label for="passwordConfirm">Confirm Password</label>
      <input type="password" name="passwordConfirm"/>
      
      <input type="hidden" name="userId" value={{ userId }} />
      <input type="hidden" name="_csrf" value={{ csrfToken }} />
      <button type="submit">Update Password</button>
    </form>
    {{#if error}}
      {{>errorMessage error=error }}
    {{/if}}
  </div>
</main>