<main>
  <div>
    <h1>Password Reset</h1>
    <form action="/password-reset" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email"/>
      
      <input type="hidden" name="_csrf" value={{ csrfToken }} />
      <button type="submit">Reset Password</button>
    </form>
    {{#if error}}
      {{>errorMessage error=error }}
    {{/if}}
    {{#if successMessage}}
      {{>successMessage message=successMessage }}
    {{/if}}
  </div>
</main>