<main>
  <div>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email"/>

      <label for="password">Password</label>
      <input type="password" name="password"/>

      <label for="passwordConfirm">Confirm Password</label>
      <input type="password" name="passwordConfirm"/>
      
      <input type="hidden" name="_csrf" value={{ csrfToken }} />
      <button type="submit">Sign Up</button>
    </form>
    {{#if error}}
      {{>errorMessage error=error }}
    {{/if}}
  </div>
</main>