@import 'reboot';
@import 'config';
@import 'nav';
@import 'productCard';

.productsContainer {
  border: 1px solid orangered;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: stretch;
}
