<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <nav class="nav">
      <a class="navLink" href="/">Home</a>
      <a class="navLink" href="/products">Shop</a>
      <a class="navLink" href="/cart">Cart</a>
      <a class="navLink" href="/orders">Orders</a>
      <a class="navLink" href="/login">Login</a>
      <a class="navLink" href="#">Logout</a>
      <a class="navLink" href="/signup">Sign Up</a>
      
    </nav>
  </header>
  {{{ body }}}
</body>
</html>