<main>
  <div class="container center-text">
    <h1>Shop Page</h1>
  </div>
  
  <div class="productsContainer">
    {{#each products }}
    {{> shop/productCard
      csrfToken=../csrfToken
      name=name
      price=price
      description=description
      imageUrl=imageUrl
      _id=_id
    }}
    {{/each}}
  </div>
</main>